.wrapper .element {
    width: 100%;
  transition: filter 0.3s ease, opacity 0.3s ease; /* Smooth transition for blur and opacity */
}

.wrapper .element.filter-none {
  filter: none; /* Remove blur for the focused element */
}

.wrapper .element.blur-sm {
  filter: blur(5px); /* Blur non-focused elements */
}


